
.App {
  text-align: center;
  background-color:white;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#hello{
  text-transform: uppercase;
}
#signout
{
 color:purple;   
 width:100%;
}
#signout:hover
{
  background-color: purple;
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th
{
 
  width:50%;
  
}

#table{
  width: 200%;
  
  
}
td{
  display:inline-block;
  width: 50%;
  
  
  
}
table {
  table-layout:fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}



th,
td {
 
  padding: 10px;
}
tr{
  border-top: 2px solid black;
}
td:hover{
background-color: grey;

}
